.page_title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgba(26,26,26,1);
}

.banner {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 170px);
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  z-index: 2;
}
.banner_text {
  height: 170px;
  font-size: 40px;
  position: absolute;
  top: calc(100vh - 110px);
  width: 100%;
  font-weight: 600;
  font-family: 'Roboto', Helvetica, sans-serif;
  -webkit-transition: .5s ease-out;
  -moz-transition: .5s ease-out;
  -o-transition: .5s ease-out;
  transition: .5s ease-out;
  z-index: 1;
}