.fourteen_wrapper {
  width: 100vw;
  height: 100vh;
  font-size: 64px;
}
.fourteen_panel__top {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: -100vw;
  background-color: #16191e;
}
.fourteen_panel__top--display {
  transform: translateX(100vw);
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
.fourteen_panel__top--hide {
  transform: translateX(200vw);
  -webkit-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  transition: .4s ease-out;
}
